.todo-list .list-group-item {
  padding: .25rem .75rem;
  list-style-type: none;
  width: px;
  height: 30px;
  background-color: white;
  margin: 0 auto 15px auto;
  border: 1px solid grey;

  font-size: 20px;
  text-align: left;
  position: relative;
}